[2017-02-21 15:43] danmakenoise opened #4 "Should be able to play a video not hosted by JW Player"
Currently, the component only supports playing a video hosted by JW Player. Sepcifically, it only supports JSON playlists matching JW Player's format. It should also be able to take a straight video file.

[2017-02-22 23:46] danmakenoise opened #5 "Cannot render additional players after rendering an initial set."
The way that the component initializes only works while the JW Player SDK is loading. Later attempts to render new players fail.

When the script already exists, the player tries to place its initialization function into the `onload` callback of that existing script tag. However, this does nothing since the scripts has already finished loading, previously. Instead, the component should also check

[2017-02-23 20:55] danmakenoise commented on #5
Fixed with https://github.com/micnews/react-jw-player/pull/6

[2017-02-23 20:55] #5 closed

[2017-02-27 15:33] #4 closed

[2017-03-14 07:24] busyoumono99 opened #9 "How to set the license key"
Is there a way to set the license key? Is there such a api?

[2017-03-21 14:29] danmakenoise commented on #9
Currently this doesn't support handling the license key. Right now, it is built with the assumption that  you are using one of the prebuilt player scripts provided through the JW Player CMS. (That's how we use it at Mic)

You should be able to set up the script with your license key outside of the component within your html. Try that, and let me know if it works. If not, we can work together to fi

[2017-03-29 02:42] scottmont opened #12 "load a new json feed"
how would you load a new json and restart the player ?

[2017-03-29 17:22] danmakenoise commented on #12
There would be two ways to do this:

1.) Using React, you can unmount the component manually, and render a new instance with the new JSON object.

2.) Once the player is rendered, you can tap in to the traditional JW Player SDK to load new files.

Let me know if you need help with either of those! Or, if you have a suggestion for how we could do this better, let me know that too!

[2017-04-13 19:13] gauravmittal470 commented on #9
I'm using jwplayer-7.10.4 with react js and it doesn't work without the license key. I didn't find any way to add the key.
Can you help me in adding the license key to the jwplayer?

[2017-05-16 11:55] idangozlan commented on #9
@danmakenoise it's making your module non usable. I think that license key is mandatory for most of the cases.

[2017-05-16 15:11] danmakenoise commented on #9
@idangozlan The module is usable when you use the JW Player hosted SDK, which doesn't require the license key. I will look into supporting self-hosted SDK's with a license key so that this isn't blocking!

[2017-05-23 13:32] #12 closed

[2017-06-08 10:36] joemitchard opened #19 "onExitFullScreen firing as soon as onEnterFullScreen has fired"
Hi guys,

When I click the players' full-screen button, it appears to flash up and then exit full screen again. After a little investigation, it appears that the onExitFullScreen event is being thrown as soon as it enters full screen.

Double clicking the video toggles full screen without an issue. So I suspect there's something up with the button.

Any help with this would be much appreciated!

H

[2017-06-12 18:05] danmakenoise commented on #19
@joemitchard I can't reproduce this on my end, so I suspect there is something different about the version of the player you are using. What version of JW Player do you have running in your hosted script at: `/client/vendor/jw-player/jwplayer.js`?

[2017-06-13 09:39] joemitchard commented on #19
Hi @danmakenoise, thanks for getting back to me!

Sure, it is currently 7.11.2

[2017-06-22 18:29] tariqinaam opened #20 "exposing jwplayer object"
I am using your module in my react app. and try to use jwplayer.on('time')  or jwplayer().getPosition() but they are not available.
Is it possible to expose whole jwplayer object/event.

[2017-06-22 19:28] danmakenoise commented on #20
You can access the object directly via the jwplayer sdk itself. Whatever id you pass in as `playerId` can be used to reference the player. So, if I have:

[code]

Then I can do this:
[code]

to access the player instance itself

[2017-06-23 07:59] tariqinaam commented on #20
That's awesome. It worked like charm.

[2017-06-23 07:59] #20 closed

[2017-06-25 13:27] benbristow opened #21 "IE11 support"
Hey,

I've gotten this component working great with Chrome but I tried loading up a video player using Internet Explorer 11 and noticed it would not load.

The problem lies with the following line:

[code]
https://github.com/micnews/react-jw-player/blob/master/src/helpers/get-player-opts.js#L45

Apparently Internet Explorer doesn't support `.assign`. Typical.

[2017-06-28 14:17] danmakenoise commented on #21
@benbristow no problem, we can polyfill that, i'll push a fix this week

[2017-06-29 15:36] danmakenoise commented on #9
Fixed by https://github.com/micnews/react-jw-player/pull/22

[2017-06-29 15:36] #9 closed

[2017-06-30 13:48] joemitchard commented on #19
Hi @danmakenoise , did you ever get round to looking into this?

[2017-06-30 15:16] danmakenoise commented on #21
Fixed by https://github.com/micnews/react-jw-player/pull/23

[2017-06-30 15:16] #21 closed

[2017-06-30 15:24] danmakenoise commented on #19
@joemitchard I tried to recreate it on our end, and couldn't do it. Any chance you could get a sample page up and running?

[2017-06-30 15:57] joemitchard commented on #19
@danmakenoise no worries, I'll see what I can do over the weekend.

[2017-07-11 16:17] michaelBenin opened #24 "FEATURE REQUEST - configurable to play in view, configured by % in view"
Would this project be open for a PR to make this possible?

[2017-07-12 09:07] joemitchard commented on #19
@danmakenoise sorry for not getting back sooner, I actually removed your plugin from the equation and implemented a wrapper manually... the same issue, this isn't an issue with your plugin but jwplayer itself, I'll close the issue

[2017-07-12 09:07] #19 closed

[2017-07-12 15:31] danmakenoise commented on #19
@joemitchard good to know, thanks for following up!

[2017-07-13 18:04] danmakenoise commented on #24
We would be open to supporting `autostart: viewable`

[code]

[2017-07-13 20:04] michaelBenin commented on #24
Hm, yea I totally agree with you there. It's unfortunate these are the requirements handed to my team.

[2017-07-13 20:04] #24 closed

[2017-07-14 20:05] michaelBenin commented on #24
In case there's opportunity: https://github.com/fastcompany/react-jw-player/pull/1/files

[2017-07-14 20:37] michaelBenin commented on #24
Hey so we verified it works on our end. Let us know if you'd reconsider. Having 10% in view gets more plays we found.

[2017-07-14 20:46] michaelBenin commented on #24
[code]
^ example usage

[2017-07-19 08:23] dtamburr opened #30 "Pass an object to the playlist prop"
The `playlist` prop requires a valid link to a playlist `json` file. Would it be possible to pass a `playlist` object instead of a link string? I have self-hosted video files and I need to use a playlist to add captions (`.vtt` files).

Or would a `captions` or `tracks` prop be an option?

From [JWPlayer doc](https://support.jwplayer.com/customer/portal/articles/1407438-adding-closed-captions):

[

[2017-07-20 08:28] dtamburr commented on #30
I managed to make it work by changing

[code]
to
[code]

in https://github.com/micnews/react-jw-player/blob/master/src/prop-types.js#L37

[2017-07-20 14:45] danmakenoise commented on #30
@dtamburr we've thought about doing this as well, I'm open to the feature, and made a comment on your PR

[2017-07-24 03:42] niyingg opened #32 "where is the demo？"
I can't run the code.I didn't know what is the playerScript mean.

[2017-07-25 18:33] #30 closed

[2017-07-25 18:38] danmakenoise opened #33 "README doesn't reflect the ability to pass in array to `playlist`"
Recently, we merged a PR that allows for handling of array playlists. The README doesn't have any documentation of that change, or how to use it!

@dtamburr would you be willing to write up the additions and an example usage into the README?

[2017-07-25 19:13] danmakenoise commented on #32
@niyingg the playerScript is the URL for your copy of the JW Player script file. Do you self-host JW Player, or do you use the CMS currently?

[2017-07-26 08:10] dtamburr commented on #33
@danmakenoise done in PR #34

[2017-07-26 15:21] #33 closed

[2017-08-15 05:38] psssssa opened #37 "How to change video player size?"
I use your component. is awesome but is not have props to change size of player. is has only aspectRatio

[2017-08-15 05:43] #37 closed

[2017-08-15 21:33] andrerfneves opened #38 "Re-rendering [QUESTION]"
Awesome package. Really works well with integration of React and JW. I do however need to change the video source of the player in my application quite a bit. Imagine a multiple-videos page. I want to `re-render` the VideoPlayer when I change the video on my Redux store. I have tried `this.forceUpdate()` and I've tried resetting/updating state but couldn't get it to work. Any ideas on how I'd go a

[2017-08-16 14:45] danmakenoise commented on #38
This might be a problem resulting from the fact that the video player itself is not a React component, but is completely handled by JW Player. If you want to change the video, you currently need to tap into the JW Player API, or unmount the player and mount a new instance of the component.

That said, there could be a case for the component automatically handling this when the props change. Would

[2017-08-16 15:18] andrerfneves commented on #38
@danmakenoise yeah that makes sense. For anyone that needs a quick workaround to this, I just used a `state` prop called `rerender`, and if you have a `video` prop coming into your `VideoPlayer` component abstraction, you can just run something like:

[code]

coupled with a render function like so:

[code]

It does re-render the video, but there's a quick white flash. I'll start looking into a nic

[2017-08-16 15:32] #38 closed

[2017-08-23 14:34] gauravverma029 opened #39 "On page scroll issue"
Hi,
I am using you extension in my react project. Everthing is working fine but on my viewport screen  there are my 2 Videos.i want to run only one autoplay but now what is happing its running both in same time i want only one video should play at same when i scroll then second should play or pervious one should pause.

Second issus is -  if i mute the video and after scrolling  video is pause aut

[2017-08-23 15:02] danmakenoise commented on #39
@gauravverma029 in order to create the on-scroll behavior and the muting behavior, you will need to interact with the JW Player API directly. See [here](https://github.com/micnews/react-jw-player/issues/20) for how to get access to it.

[2017-08-23 21:48] michaelBenin commented on #39
@gauravverma029 we have something implemented which may solve your problem. It's being maintained in a fork though: https://github.com/fastcompany/react-jw-player/commit/fe9b795aae80a569d286614a5ad2882bb8110ca0

[2017-08-23 21:59] michaelBenin opened #45 "Play preroll on next video play"
Would you be open to supporting this option?

Example: https://github.com/fastcompany/react-jw-player/commit/6ec338d5f257001472953985d1642859fb5099cd

[2017-08-25 13:02] danmakenoise commented on #39
@michaelBenin hey! would you be willing to turn your additional features into a wrapper component around ReactJWPlayer? My thinking is you could publish the wrapper component, and we could link to it here to help out other dev teams that may want to do something similar.

[2017-08-25 13:05] danmakenoise commented on #45
@michaelBenin What if we created a `generateMidroll` or `generatePostroll` function? That would allow us to do this without a major version change.

[2017-08-25 17:09] michaelBenin commented on #45
Sounds good.

[2017-08-28 21:44] fairbairn opened #46 "Support 'vast' ads"
Looks like the advertisement settings under the implementation are hard-coded to support only google, yet docs say we can use callback to provide a VAST tag (url).

We need the client to be 'vast' for that to work.

[2017-08-29 00:00] orrybaram commented on #46
We should probably let users define an `advertising` prop that sets custom options.
See https://developer.jwplayer.com/jw-player/docs/developer-guide/customization/configuration-reference/#advertising

[2017-08-29 00:26] orrybaram commented on #46
@fairbairn I created a PR to add this functionality, and while doing so realized that you can override the defaults by passing in an advertising object to `customProps`.
https://github.com/micnews/react-jw-player#optional-configuration-props

[2017-08-29 14:43] danmakenoise commented on #46
@fairbairn Were problems were you having with ads running on the default settings? In our experience, having it set to `googima` hasn't prevented the player from using Vast tags. But, our use case isn't everyone's use case.

[2017-08-29 14:46] danmakenoise commented on #46
@orrybaram I think using customProps is the better way to override defaults like this, but we should add something to the docs describing how to do that. I think for v2 we are going to rely on customProps much more since it keeps us a little less coupled with JW Players API

[2017-08-29 14:51] orrybaram commented on #46
Makes sense, I closed out the PR.

[2017-08-29 15:13] danmakenoise commented on #46
@orrybaram can you pr a readme change with how to override? if not, I can do it.

[2017-08-31 04:27] vtapia5070 commented on #20
Hey @danmakenoise! Are there any tips for getting access to `window.jwplayer` within the class that renders the react-jw-player? Right now I am trying to access it within `componentDidMount`, but it is undefined. I do see it defined in the browser console after my javascript is run.

[2017-08-31 15:38] danmakenoise commented on #20
@vtapia5070 thanks for the update! I'm not the best at writing README's, do you think we need some more info in it?

[2017-08-31 17:30] vtapia5070 commented on #20
@danmakenoise Your read me is great! It's just a small lack of JW player documentation on my part. I've submitted a small PR to update the README. Thanks!

[2017-09-05 01:57] ProdigyView opened #49 "Google Analytics"
The JWPlayer has a paramter for Google Anaytlics:

[code]

Is there any likelihood of being able to do the same with this implementation?

[2017-09-05 09:45] ssageghi opened #52 "Icon not rendering"
Hi
thanks for your component
I used it and I have a problem with it
the player Icon does not show correctly
![image](https://user-images.githubusercontent.com/24605214/30055414-9b6eac2a-9244-11e7-824a-668db0893bff.png)

[2017-09-05 18:30] danmakenoise commented on #46
@fairbairn did using customProps work for you? If so, I'm going to close this out.

[2017-09-05 18:30] danmakenoise commented on #49
@ProdigyView you should be able to do this like this:

[code]

[2017-09-05 18:32] fairbairn commented on #46
You can close it out.  We elected to import and use the JWPlayer.js
directly to have better control.

You dream it.  We build it!

Breakthrough Technologies
breakthrough-tech.com

On Sep 5, 2017 2:30 PM, "Dan Phillips" <notifications@github.com> wrote:

[2017-09-05 18:32] danmakenoise commented on #52
@ssageghi any problems with the player display should be related to JWPlayer's player script itself. It looks some of the assets for the player aren't loading properly in your case.

[2017-09-05 18:42] danmakenoise commented on #46
Sounds good! Thank you for the update.

[2017-09-05 18:42] #46 closed

[2017-09-06 05:53] ssageghi commented on #52
@danmakenoise
are these related to each other
I get this Error in my console
![image](https://user-images.githubusercontent.com/24605214/30096388-5b96cd0e-92ed-11e7-8ef3-e073853a6be9.png)

[2017-09-06 14:15] danmakenoise commented on #52
@ssageghi if `window.jwplayer` isn't available then the jw player sdk hasn't loaded properly. Can you verify that your playerScript file is loading properly?

[2017-09-17 17:34] danmakenoise commented on #45
@michaelBenin started thinking about this, and with v2 we are going to back away from being opinionated about the event hooks and really simplify the component. My thought is this:

Should we do away with `generatePreroll` altogether and just let developers hook into `onBeforePlay` directly? I think removing a little of the magic here might be better long term.

[2017-09-17 18:10] danmakenoise opened #54 "Version 2 Proposal"
Hey gang!

We are about to get started building version 2 of this and I wanted to get some discussion going about a few things:

1. A personal goal of mine is to decouple this component from JW Player's API much as possible. One way we've coupled the component pretty tightly is by making a lot of defaults in the configuration options. I think in version 2, it will be better to not override any def

[2017-09-17 18:18] danmakenoise commented on #54
@nirarazi @tomconroy @michaelbenin @dtamburr @zentuit @vtapia5070 @chrisdugne @juzzyo-ffm @alinchican @petertdinh @duongthienduc

If any of you have any opinions on this stuff, let me know!

[2017-09-17 18:29] tomconroy commented on #54
Cool, we would indeed much prefer transparent mapping to player props such as `onTime` rather than `onThreeSeconds`

[2017-09-29 01:36] damonbauer opened #56 "(Not an issue) Thank you!"
@danmakenoise @micnews -Just wanted to say thanks; this library is ridiculously easy to get jwplayer up and running with pretty much complete control. It has been a joy to use. Thanks! ❤️

[2017-09-29 13:35] danmakenoise commented on #56
@damonbauer glad to hear it! Thanks for letting us know 😄

[2017-10-04 14:45] michaelBenin commented on #54
Hey @danmakenoise - so sorry for the late response!

Everything outlined above sounds great.

Sounds like this component will load in the external js files and just keep a reference to the player no?

One request - is it possible to use prettier with eslint config?

I would be happy to help set that up.

[2017-10-05 00:44] danmakenoise commented on #54
@michaelBenin to clear up things, here is how I envision the API being for the base component.

[code]

As far as prettier goes, I'm open to giving it a shot, but probably would want to address separate from this version launch. I'd like to hear from others on why we should or shouldn't move that way. Mind making an issue just for that?

[2017-10-11 04:06] christchron opened #58 "Error setting up player: Invalid license key"
I'm currently testing my web using this library but got this error "Error setting up player: Invalid license key
"
how can I get new license key for free ?

[2017-10-11 11:56] danmakenoise commented on #58
@christchron you would need to get a license key from [JW Player](www.jwplayer.com) directly.

[2017-10-12 14:24] christchron commented on #58
@danmakenoise further question. If I store the key in the client (using the license key props), is there any possibilities that the key would leak?

[2017-10-12 21:34] danmakenoise commented on #58
@christchron JW Player isn't concerned about it being in the client. See [here](https://support.jwplayer.com/customer/portal/questions/16244101-how-to-protect-the-license-key-)

[2017-10-12 22:09] kpdecker opened #59 "React and prop-types should be peer dependencies"
Making them explicit dependencies can lead to having multiple copies of these loaded. Particularly problematic for users who have upgraded to 16.

[2017-10-16 04:42] danmakenoise commented on #54
Work has started on this https://github.com/micnews/react-jw-player/pull/60

[2017-10-19 19:33] m2jobe opened #61 "Specifying the file to play when a playlist is defined"
Is specifying the video to play in a set playlist possible

[code]

And if not then is it possible to play a video hosted in jwplayer just from the video ID?

[2017-10-19 19:34] m2jobe commented on #61
For example in this library that functionality is possible: https://github.com/noahfeder/react-jwplayer

`  <JWPlayer videoId="<your-id-here>" />,
`

[2017-10-19 19:36] m2jobe commented on #61
If the full video path is needed how do we generate it based on the ID?

[2017-10-19 22:22] danmakenoise commented on #61
@m2jobe You can do this a couple of ways:

The best we have found is to use the playlist option with the JSON playlist that JW Player automatically makes for each video. You get more metadata that way:
`playlist='http://content.jwplatform.com/feeds/<media-id>.json'`

You can also get the m3u8 file from the jwplayer CMS and pass that to the file prop.

[2017-10-20 13:07] christchron opened #63 "Video won't play on Iphone"
Some of my videos cannot be played on Iphone. It show's File could not be played. But it works fine on laptop. Anyone know how to solve it?

[2017-10-20 15:07] danmakenoise commented on #63
What kind of file and/or playlist are you trying to load?

[2017-10-20 15:08] christchron commented on #63
@danmakenoise the file format is .m3u8

[2017-10-20 15:13] danmakenoise commented on #63
@christchron definitely have seen similar weirdness with m3u8 files, is the video hosted by JW Player?

[2017-10-20 15:18] christchron commented on #63
@danmakenoise nope, its my own videos.

[2017-10-20 17:01] danmakenoise commented on #63
@christchron yeah, i think this is an issue with JW Player itself then, and not the component. Hopefully someone else might have some insight?

[2017-10-21 19:10] m2jobe commented on #61
Your first suggestion was just what I was looking for however the colour design of the player doesn't seem to come through.

Unrelated but this was useful for my use case with social sharing on the player, after contacting customer support, to ensure the social sharing link is your website and not content.jwplayer you need to add the following in helpers/get-player-opts.js

`  playerOpts.sharing =

[2017-10-22 12:35] danmakenoise commented on #61
@m2jobe can you see if you can accomplish this using `customProps`?

`<ReactJWPlayer
  customProps={{
    sharing: {
      link: ''
    }
  }}
/>```

[2017-10-22 23:20] m2jobe commented on #61
Yes that works just fine, I should've read into the documentation more!

[2017-10-23 00:53] christchron commented on #63
ok then if no one can solve it here, thanks btw @danmakenoise !

[2017-10-23 00:53] #63 closed

[2017-10-23 12:52] danmakenoise commented on #61
@m2jobe no worries, it's buried pretty deep! Do you think it's worth it to be a note in about this behavior into the README?

[2017-10-23 12:53] danmakenoise commented on #63
@christchron no problem. Like I said, we had trouble with using direct m3u8 files on mobile as well, which is why we switched to JSON playlists.

[2017-10-29 17:06] m2jobe commented on #61
@danmakenoiseYes I think that would be useful!

[2017-10-31 18:35] m2jobe opened #65 "Programatically setting where the video time is at"
Is it possible to set where the player position is e.g. setting it to 3:20, or 6 minutes in

[2017-10-31 18:38] m2jobe commented on #65
Trying to put together a set list to allow users to go to the times in which a song begins in a video clip

[2017-10-31 18:40] m2jobe commented on #65
![image](https://user-images.githubusercontent.com/9561974/32242504-613bb404-be49-11e7-82f3-53f42dd272cb.png)

Found this in jwplayer api but not sure how to trigger seek via react-jw-player

[2017-10-31 23:28] m2jobe commented on #65
[code]

[2017-10-31 23:29] #65 closed

[2017-10-31 23:29] #61 closed

[2017-11-01 03:31] m2jobe commented on #19
Facing this same issue but cant find anything from jw player docs

[2017-11-01 11:03] joemitchard commented on #19
@m2jobe it turned out that it was the ID we were passing into the player, we were passing Page ID (an integer). JW Player requires that page ID is a string value. Passing in ``jw-player-${this.props.id}`` solved the issue.

[2017-11-06 01:22] christchron opened #67 "Setting HD toogle"
Hi, I want to ask about how to set the video quality in react jwplayer. In my player, it shows the hd button but didn’t show the quality options. Can you tellme how to add the quality options?

[2017-11-07 18:10] danmakenoise commented on #67
@christchron that's an issue with JW Player itself, and not this wrapper. But, I still might be able to help! What kind of file are you loading into the player?

[2017-11-08 04:04] christchron commented on #67
@danmakenoise the file I'm using is m3u8 file. Can you tell me what kind of file that JW player hosted?

[2017-11-08 16:45] danmakenoise commented on #67
`m3u8` should do the trick, are you looking at desktop or mobile?

[2017-11-22 19:00] brunolucena opened #70 "player.on is not a function"
No initialize, o componente não está reconhecendo as chamadas de player.on:

[code]

Tentei alterar cada chamada para o nome da função, e algumas funcionaram, mas o player continua com erro. Ex:
`player.on('beforePlay'...)` para `player.onBeforePlay('beforePlay')`

Não consegui localizar onde o player deveria chamar essas funções.
Agradeço ajuda.

[2017-11-28 11:30] danmakenoise commented on #70
Olá, desculpe as traduções ruins aqui, estamos usando o Google Translate para ajudar.

Tudo isso parece estar funcionando corretamente em nossos testes. Você pode nos dar quaisquer mensagens de erro que está a ver?

[2017-11-28 11:40] danmakenoise commented on #59
@kpdecker sorry for the very long delay on this. Okay! Can you PR that or do you need us to do so?

[2017-11-28 13:59] brunolucena commented on #70
Sorry, I can speak in english.
I was using JWplayer version 6. Updated to version 7 and the error is gone. I believe there is no support to v6 right.
Thanks for the help.

[2017-11-28 15:59] danmakenoise commented on #70
@brunolucena that makes sense! We built this for version 7, and it is compatible with 8 as well.

[2017-11-28 17:28] kpdecker commented on #59
Yeah, we can do that!

[2017-11-29 03:25] #59 closed

[2017-12-04 05:09] rahulsinghvuclip opened #75 "Is custom skinning supported."
Hi Team,
I want to customise the skining in jwplayer.Is it supported.

[2017-12-04 12:52] danmakenoise commented on #75
@rahulsinghvuclip sure thing, you should be able to use customProps like this:

[code]

[Here is what is allowed in JW Player itself](https://developer.jwplayer.com/jw-player/docs/developer-guide/customization/configuration-reference/#skin)

[2017-12-06 10:23] rahulsinghvuclip commented on #75
When i setting height and width....it is not taking css

[2017-12-06 23:10] danmakenoise commented on #75
@rahulsinghvuclip what is the code you are trying to use?

[2017-12-07 05:07] rahulsinghvuclip commented on #75
I am trying to pass this config
 config = {
  playerId: '1',
  isAutoPlay: true,
  className: 'jwp',
  width: 160,
  height: 90,
  playerScript:
    'https://vuclip-a.akamaihd.net/viuembed/webplayer/assets/jwplayer-8.0.0/jwplayer.js',
  licenseKey: 'kQB2AygqogBc1g19AlzMq30H/9Rl0JnpD6XUFw==',
  file: 'http://vjs.zencdn.net/v/oceans.mp4',
  image: 'http://vjs.zencdn.net/v/oceans.png',
  customProps:

[2017-12-07 13:37] rahulsinghvuclip commented on #75
Thanks i have resolved the issue through custom css.

But fullScreen is throwing errror..It is not working.

[2017-12-07 15:25] danmakenoise commented on #75
@rahulsinghvuclip okay, great! I will close this out!
Can you make separate issue for the problem with `fullScreen`
Please include any code you are using if you can, and any error messages!

[2017-12-07 15:25] #75 closed

[2017-12-07 18:58] rahulsinghvuclip opened #76 "FullScreen functionlity is not working."
Hi team.
My  code is below.
const config = {
  playerId: '1',
  isAutoPlay: true,
  className: 'jwp',
  width: 160,
  height: 90,
  playlist: [
    {
      file: 'http://vjs.zencdn.net/v/oceans.mp4',
      image: 'http://vjs.zencdn.net/v/oceans.png',
      tracks: [
        {
          file: 'https://link-to-subtitles.vtt',
          label: 'English',
          kind: 'captions',
          ' defaul

[2017-12-07 19:21] danmakenoise commented on #76
Hey two things!

1.) Can you wrap all the code in code formatting? Put ``` before and after the code.
2.) Might want to hide your JW Player License key!

I'll take a look at the code.

[2017-12-07 19:23] danmakenoise commented on #76
It looks like you are replacing the fullScreen button with the nextButton, is that right?
`displayC.replaceChild(fullscreen, nextC);`

[2017-12-08 05:56] rahulsinghvuclip commented on #76
Yes...But in normal scenario also full screen is not working

[2017-12-08 19:38] rahulsinghvuclip commented on #76
It's quite amazing that this issue is reported by me only on both github pages react jw as well as jw player.. And both referencing this each other. #2592 is raised by me only... Jw support saying its react jw player issue

[2017-12-08 20:35] danmakenoise commented on #76
@rahulsinghvuclip is there any chance you can get a demo up online?

If I take your code, and remove these two lines:
[code]

The fullscreen button works as expected with both JWPlayer 7 & 8.

If you can find a way to get a live demo, we may be able to help you out. We would also need to know what browser and device you are using to be sure.

[2017-12-09 11:29] rahulsinghvuclip commented on #76
I am using chrome browser version 62 on windows 8.1

[2017-12-09 18:24] danmakenoise commented on #76
@rahulsinghvuclip can you see if any console errors pop up when you click the fullscreen button on your end? Sorry, I just can't help if I can't recreate the problem, but I can maybe help you debug it.

[2017-12-10 20:01] El-Gregory opened #77 "Uncaught TypeError: n.setup is not a function - React 16"
Ever since our upgrade to React 16 our app is throwing this error on our SPA app's page load. If we click into it from another page it loads correctly but refresh breaks the whole page. I've wrapped the jwplayer in react ErrorBoundary tags in order allow our pages to load but the underlying problem still exists.

The error is in this block of prettytified code.

"./node_modules/react-jw-player/dis

[2017-12-11 16:24] danmakenoise commented on #77
@El-Gregory do you have a live version of this up anywhere? That might help me debug this with you.

If not, can I see the code where you use `react-jw-player`?

[2017-12-12 11:06] rahulsinghvuclip commented on #76
This is the url.
https://rahul123player.herokuapp.com/

I am using only react-jw-player component.
full screen is not working properly.

[2017-12-12 15:06] El-Gregory commented on #77
I can pm you a link (i don't want to get it indexed) but here is my react-jwplayer component. Maybe it can tell you what we're doing wrong:

@connect(state => ({
  clientApiOrigin: state.config.clientApiOrigin,
  navigation: state.navigation,
  user: state.auth.user,
}))
export default class JWPlayer extends Component {
  static propTypes = {
    clientApiOrigin: PropTypes.string.isRequired,
    n

[2017-12-12 15:27] danmakenoise commented on #77
@El-Gregory can you try ruling out that the randomly generated ID on server is causing issues? I'm wondering if server and client are coming up with different ones.

[2017-12-12 16:22] El-Gregory commented on #77
@danmakenoise
Sure. I was wondering that myself but the output always "seemed" the same when I'd log it. I'll try that right now.

[2017-12-12 16:49] El-Gregory commented on #77
@danmakenoise I think that may have been it!!! Let me play with it a bit more to verify.

[2017-12-12 19:25] #77 closed

[2017-12-13 05:07] rahulsinghvuclip commented on #76
@danmakenoise any update on this.

[2017-12-13 16:07] danmakenoise commented on #76
@rahulsinghvuclip I responded to JW Player in this thread: https://github.com/jwplayer/jwplayer/issues/2592. It appears to be a problem with the player code itself, not our library. But, I'd like their input.

[2017-12-21 17:33] rahulsinghvuclip commented on #76
@danmakenoise  any update on this

[2017-12-21 18:24] danmakenoise commented on #76
@rahulsinghvuclip figured it out!

The player id cannot be a number in string format. `player-1` works fine, `1` breaks some logic somewhere in JW Player. I'll file an issue for that.

[2017-12-21 22:47] danmakenoise commented on #76
@rahulsinghvuclip i'm closing this out, made an issue for this in JW Player here https://github.com/jwplayer/jwplayer/issues/2618

[2017-12-21 22:47] #76 closed

[2018-01-18 10:13] suhanivar07 commented on #52
@danmakenoise @ssageghi Icons are not getting rendered in my case too.
<img width="960" alt="icon" src="https://user-images.githubusercontent.com/31689321/35092706-42d65978-fc66-11e7-9d93-9342ef6a3a83.png">

[2018-01-18 17:04] danmakenoise commented on #52
@suhanivar07 this is most likely still an issue with JWPlayer itself and not this library. Can you post your code, and a full error log from running your code?

[2018-01-19 08:19] suhanivar07 commented on #52
@danmakenoise  Yes It was the problem with my JWplayer script.It is fixed now.

But it is only supporting mp4 formats not "smil"

[2018-01-19 10:56] suhanivar07 opened #78 "it is not supporting"smil" file format"
It is not  supporting"smil" file format

[2018-01-19 15:24] danmakenoise commented on #52
Okay closing this! Thank you for the reply!

[2018-01-19 15:24] #52 closed

[2018-01-19 15:24] danmakenoise commented on #78
This is an issue with JW Player itself, not this library. Please check their docs [here](https://support.jwplayer.com/customer/portal/articles/1403635) for information on what files they do and do not support.

[2018-01-19 15:25] #78 closed

[2018-01-25 16:06] christchron opened #79 "DRM"
can we use DRM on your library?

[2018-01-25 16:34] danmakenoise commented on #79
Yeah, you should be able to include DRM in your playlist object! See [here](https://support.jwplayer.com/customer/portal/articles/2561182)

[2018-01-25 16:36] christchron commented on #79
then we can't use just file = xxx.m3u8?
we need to use playlist and pass the file there?

[2018-01-26 04:53] danmakenoise commented on #79
@christchron right now, I believe that is the only way. Take a look at those docs I linked to and tell me which DRM method you are planning on using. If you show me what the JW Player code would be, I can make a PR to this library to support it.

[2018-01-26 11:08] christchron commented on #79
I need to use widewive for now. But later maybe need something else for Apple/Safari.

`playlist: [{
    sources: [{
      file: '//www.website.com/media/videofile.mpd',
        drm: {
          widevine: {
          url: '//widevine-proxy.appspot.com/proxy',
            headers:[{
              name:”customData”,
              value  : "abcdefg1234567hijklmn89101112opqrs98765tuvwxyz"

[2018-01-31 13:09] christchron commented on #79
Hello @danmakenoise, can you help me?

[2018-01-31 16:33] danmakenoise commented on #79
@christchron hey! I don't have any experience with DRM and JW Player! It does seem like we may need to add some new functionality to `react-jw-player` to accommodate this, though.

What I need from you is to use JW Player's docs and find a way to handle the DRM _without_ `react-jw-player`, using the normal JWPlayer SDK. If you can do that, and show the code here, then I can help get this functiona

[2018-02-01 20:25] zentuit opened #80 "Please rename `prop-types.js` to something else"
Webpack has a bug (that I'm trying to get tracked down) where the resolution graph gets messed up and results in `prop-types` trying to require itself.

React's `prop-types` is moduleId 48 and react-jw-player's `prop-types` is moduleId 527. Instead of
[code]
I'm getting
[code]
Here's the snippet:
[code]
While I realize this isn't technically your issue, it would help resolve what I'm seeing.  Othe

[2018-02-02 16:04] ryanscottaudio commented on #80
@zentuit Should be all good now, just upgrade to the latest version of the library.

[2018-02-06 08:58] rahulsinghvuclip opened #83 "onResume api is not working."
Hi team,
I tried to use onResume api. But this api is not working.

[2018-02-06 08:59] ellell commented on #80
Fixed in https://github.com/micnews/react-jw-player/pull/82

[2018-02-06 08:59] #80 closed

[2018-02-06 09:03] ellell commented on #83
Hey @rahulsinghvuclip, how is it not working? Could you provide some sample code showing how you're trying to use it?

[2018-02-06 10:39] rahulsinghvuclip commented on #83
this is just sample code i have given.
onPlay, onVideoLoad is working but not onResume

import React from 'react';
import ReactJWPlayer from 'react-jw-player';

class VideoPlayer extends React.Component {

  onPlay = () => {
     console.log('play');
  };
  onVideoLoad() {
     console.log('firstload');
  }
  onResume() {
    console.log('resume');
  }
  render() {
   return (
      <div className

[2018-02-06 15:47] ajai-sandy opened #84 "Package not working, getting "View config not found""
Hi,
  After importing the package, like the following below code
[code]

using the following version in my application,
[code]

I am getting the following error in my emulator
<img width="292" alt="screen shot 2018-02-06 at 8 45 07 pm" src="https://user-images.githubusercontent.com/6812847/35868595-f6f7f206-0b82-11e8-931d-4d9c71e7aad0.png">

[2018-02-07 11:58] ellell commented on #83
@rahulsinghvuclip I'm not able to reproduce this, just tried something similar on my end and resume callback is calling correctly for me. Any more details you can provide around this?
Note that `onResume` is not supposed to be called on the first play, but only when you paused the player and then press play again.

[2018-02-07 13:27] rahulsinghvuclip commented on #83
import React from 'react';
import ReactJWPlayer from 'react-jw-player';
import './VideoPlayer.css';

class VideoPlayer extends React.Component {
  constructor(props) {
    super(props);
    this.player = null;
    this.playerId = 'viu-video-player';
    this.myIndex = 1;
  }

  initPlayer = () => {
    this.player = window.jwplayer(this.playerId);
  	console.log(this.player)
  };
  setInitialQuali

[2018-02-07 13:57] ellell commented on #83
Ah, thanks for that. This seems to be an issue with jw player version 8, it is working correctly for version 7. I don't have capacity to fixing this right now, but pull requests are always welcome!

[2018-02-07 14:39] rahulsinghvuclip commented on #83
Hi Team,
This feature is required for my project. @danmakenoise

[2018-02-07 18:51] rahulsinghvuclip opened #85 "to catch setupError"
Hi team , I want to log setuperror. any solution

[2018-02-08 15:43] ryanscottaudio commented on #84
@ajai-sandy this package isn't set up for use in React Native; it uses `div` instead of `View` and so on. Sorry!

[2018-02-08 15:43] #84 closed

[2018-02-12 22:44] WebD00D opened #86 "Uncaught TypeError: jwplayer(...).setup is not a function"
Anyone seen this before?

[2018-02-13 01:03] danmakenoise commented on #86
@WebD00D we would need to see the code you are using to launch the player to give you help on this!

[2018-02-13 01:06] danmakenoise commented on #85
@rahulsinghvuclip you can always use the standard `window.jwplayer` API to add event listeners!

In this case it would be:

[code]

[2018-02-13 04:52] rahulsinghvuclip commented on #85
but where to add these code..onReady() is not loaded

[2018-02-13 19:16] WebD00D commented on #86
Ah, actually I was justing using the wrong `playerScript` url. All good!

[2018-02-13 19:16] #86 closed

[2018-02-14 16:14] rahulsinghvuclip commented on #85
@danmakenoise can you help me out where to call this api as before onready window.jwplayer is not available

[2018-02-15 05:19] rahulsinghvuclip commented on #85
@danmakenoise yes ,onError is called if there is error during playback but to catch setuperror we need to add hooks.

[2018-02-16 17:47] jesster2k10 opened #87 "Does this support RTMP Live streams?"
Please let me know

[2018-02-16 19:04] ellell commented on #87
@jesster2k10 Haven't tested this myself, but as far as I can see in the [jw player docs](https://support.jwplayer.com/customer/portal/articles/2549038) an RTMP live stream is embedded in the same way as a regular video, so it should be working.

[2018-02-16 19:04] #87 closed

[2018-02-18 07:48] rahulsinghvuclip commented on #85
@danmakenoise similarlry onBeforePlay() can be passed to props as we dont have now.

[2018-02-18 08:00] rahulsinghvuclip opened #89 "Creating props for Ad events and player events"
Hi Team
We can have following props
1.onAdRequest()
2.onAdImpression();
3.onBeforPlay();
4.onSeek();

[2018-02-21 13:21] #85 closed

[2018-02-22 21:18] zentuit commented on #83
Looks like the event sent to the onPlay function has `oldstate` of 'buffering' and not 'paused'.  This is causing problems for us too.

[2018-02-23 16:22] yongzhihuang opened #90 "BUG: When user clicks pause on an inview autoplay video, scrolls away, video starts to play again"
Hi,

To reproduce this problem, set a player to autoplay when in view, then pause the video, and start scrolling, the video resumes to play.

The intent of the user is to pause the video, however when autoplay in view sets it, the behavior becomes unintended.

Great component btw.

[2018-02-23 17:07] eagle1000 opened #91 "Not resizing for responsive devices"
Hello,
I am having trouble when using react-jw-player as my player is not resizing for mobile devices.  It is maintaining a fixed width and height.  I am attaching a screenshot from my jw dashboard to show the player version I am using (8.1.8) and that it is configured to be responsive.  The player resizes fine outside of react when simply using the embed code from the jw dashboard.
Here is the co

[2018-02-23 18:00] akroll1 commented on #91
Same issue here. Player is fixed size, not dynamic as in the past.

[2018-02-23 19:41] #90 closed

[2018-02-23 22:02] adamnbowen opened #92 "onPlaylistComplete event"
I noticed that this library doesn't have an [onPlaylistComplete event](https://developer.jwplayer.com/jw-player/docs/javascript-api-reference/#jwplayeronplaylistcomplete) that is present in the jwplayer API documentation. Are you open to a pull request adding it, or do you have a specific reason for omitting it?

I also noticed you're missing "seek", but I suppose I can just use onPause and onPlay

[2018-02-25 05:50] danmakenoise commented on #92
@adamnbowen no particular reason other than no one had requested it yet. We are currently considering dynamically allowing props to be added. See #93

If we pursue that path, then `playlistComplete` can be passed through as the prop `onPlaylistComplete` without needing to explicitly add it into the code. In the meantime, if you want to make a PR to handle it explicitly, that could get it up and ru

[2018-02-25 05:56] danmakenoise commented on #91
@akroll1 @eagle1000 would either of you be able to set up a live demo link so we can debug this?

[2018-02-25 05:57] danmakenoise commented on #89
@rahulsinghvuclip we are looking into dynamically adding events in #93

in the meantime if you want to make PR's explicitly adding these, it could get these live sooner!

[2018-02-25 06:01] danmakenoise commented on #83
@zentuit looks like you are correct. When we created this, JW Player v6 must've had a `paused` state, which is now `buffering`.

Are you able to make a PR for this?

[2018-02-25 17:37] eagle1000 commented on #91
HI,
Here is a link for you to preview the issue.  Many thanks!
[https://sleepy-earth-81897.herokuapp.com/canciones-infantiles/pin-pon]

[2018-02-25 18:11] danmakenoise commented on #91
@eagle1000 okay! I see the issue! The JW Player instance will only be responsive as long as the div it is contained with is as well. Since you have a fixed height and width on the containing div, it is always taking up 100% of that space, even when the viewport is less than that.

To solve the issue, make sure the container that you place the component into has responsive height and width.

[2018-02-25 19:31] eagle1000 commented on #91
I have created a bootstrap column class for the div containing the component but this does not seem to solve the problem.  Attached is a screenshot showing the fixed dimensions are actually coming from the div INSIDE the component, despite the fact that the player is configured in the dashboard to be responsive and not fixed. (Screenshot on initial comment).  Thanks for your help!

![jwplayer1](ht

[2018-02-25 20:45] danmakenoise commented on #91
@eagle1000 your playerscript looks like it has a video hardcoded into it: `https://content.jwplatform.com/players/EnaV52f7-gVbyfBkc.js` can you switch that out with a base player script file, with no precoded video? I believe that is overriding your responsive settings.

[2018-02-25 21:15] eagle1000 commented on #91
@danmakenoise yes, that did solve the issue.  Thank you for your help and congratulations, it is an excellent package!

[2018-02-25 21:15] #91 closed

[2018-03-08 10:33] nolate opened #94 "Set Appearance: streching"
Hey

According to [docs](https://developer.jwplayer.com/jw-player/docs/developer-guide/customization/configuration-reference/) default streching should be `uniform` but what I see in my inspector elements tab is  `<video class="jw-video jw-reset" src="blob:http://localhost:3000/blabla" jw-loaded="data" style="object-fit: fill;"></video>`. I found nothing about setting the `object-fit` in the code

[2018-03-08 10:42] ellell commented on #94
@nolate Yes, you should be able to use the customProps to set stretching. Like this: `<ReactJWPlayer customProps={{ stretching: 'uniform' }} />`.

[2018-03-08 12:18] nolate commented on #94
Thanks for the fast response @ellell !
Sorry to say but that doesn't work for me.

My setup:
`react-jw-player "version": "15.6.2"`

[code]

But the video element still has the `style="object-fit: fill;"`

[2018-03-08 12:26] ellell commented on #94
@nolate What version of the jwplayer js api are you using? I've tested it on version 7 which seems to work, but haven't yet tested it on version 8.

[2018-03-08 12:31] nolate commented on #94
@ellell
I'm using `react-jw-player"version": "1.12.0"` but I don't know what version of JW JS API is that using.

[2018-03-08 13:13] nolate commented on #94
Fun fact, it only happens on my computer in chrome browser. We've tested in production on several computers without my changes and it happens only in chrome only on my PC when all extensions are turned off. So it's not the player.

I was looking for the `stretch: 'uniform'` in the wrong place, it's there on the container.
If I check my `<video>` element inside the `onReady` function there's no sty

[2018-03-08 14:48] ellell commented on #94
@nolate oh interesting.

Well, sounds like this isn't a problem with `react-jw-player` anyways. As far as I can see we're not setting the stretching prop (or `object-fit` style) unless passed through `customProps`. I'd suggest checking in at https://github.com/jwplayer/jwplayer if this keeps being an issue for you.

[2018-03-08 14:48] #94 closed

[2018-03-18 18:34] adamnbowen commented on #92
Since #93 has been merged, and it solves my problem, I'm closing this.

[2018-03-18 18:34] #92 closed

[2018-04-09 09:53] rahulsinghvuclip opened #95 "After updating to 8.2.2 version player is throwing network error"
As soon as i updated the player the network error is getting generted.
<img width="560" alt="screen shot 2018-04-09 at 3 21 40 pm" src="https://user-images.githubusercontent.com/32703815/38491576-dd8ce59e-3c09-11e8-8c5f-3fa8bc6ed18b.png">

[2018-04-11 15:32] tomlynch commented on #95
I had a similar issue. Check the folder structure the support file requests are being made to.

[2018-04-17 12:05] nirarazi opened #96 "TypeError: Cannot read property 'defaults' of undefined"
Happens while executing `setJWPlayerDefaults`.
Anyone else getting this?
Started today...

[2018-04-18 07:56] ellell commented on #96
@nirarazi What version of jw-player are you using?

[2018-04-19 06:32] nveen opened #97 "On first time load in a mobile device, Audio player is set to mute by default."
We are using JW Player as an audio player. We have some custom buttons for audio controles at the frontend but at the backend we are using JW Player to play the audio. We have an issue with the player in mobile devices. On first time loading the audio starts to play but is always muted by default. We have to manually unmute the player in order to listen to the sound. Same thing works well on web a

[2018-04-22 15:08] danmakenoise commented on #97
Unless things have changed in the recent months, I believe this is due to mobile browser specifications. Almost all of the major browsers will not allow a video to autoplay on a mobile device unless it is muted.

[2018-04-23 23:43] danmakenoise commented on #97
Sorry, meant to post more to that:

This is the reason our library automatically does this. You should be able to override the property via the `customProps` prop.

[2018-04-23 23:45] danmakenoise commented on #97
My assumption above is that it is the same rules for audio

[2018-04-24 09:16] nveen commented on #97
Okay. Thanks for the information. We have removed the autoplay functionality and provided a play button to start the playlist but in this approach, we encountered another issue.

We have provided the option to update the playlist by drag and drop. A user can reposition the songs in the playlist by dragging them and changing the position. Once the order of songs in the playlist is updated we send t

[2018-04-27 08:06] rahulsinghvuclip commented on #95
@tomlynch can you help me out
as facing same issue on

[2018-04-27 11:29] rahulsinghvuclip commented on #95
@danmakenoise can your help me out with this..

[2018-05-07 05:35] rahulsinghvuclip commented on #95
@tomlynch which particular support files

[2018-05-15 08:53] avparmar1805 opened #98 "Background Image for podcast"
Hi Team,
While playing podcast, I want to show a back ground image. Which property shall I use for it ?
I am using v1.16.0
Thanks

[2018-05-22 13:44] nimahkh opened #99 "create preview in react jwplayer"
hi my friends , i have to create a preview player before user upload video , so here i have base64 string file , when i put this string in file props , nothing shows , it is my code  :
[code]
my code works on normal video tag and shows the video correctly , but in jwplayer, it says " No playable source found "

[2018-05-22 20:09] ellell commented on #99
Hi,
doesn't sound like anything we do in this react wrapper would be causing this. So I would suggest checking in https://github.com/jwplayer/jwplayer/ instead.

[2018-05-22 20:13] ellell commented on #98
Hi, use the .image property to set the background image!

[2018-05-22 20:13] #98 closed

[2018-05-22 20:17] ellell commented on #97
Pausing of the song likely happens because the component is re-rendered, but it's very hard to give any concrete suggestions on how to handle without knowing how your app is setup.

[2018-06-20 08:56] djdips opened #101 "how can we stop nextShown to be triggered or do not show next up on hover of next button"
I have a use case where I do not need to show anything on hover of next button - however I cannot find a way to suppress the nextShown event that is triggered - can you please help with this

[2018-06-23 17:21] danmakenoise commented on #101
@djdips that's going to be an issue to resolve with JW Player itself, I would recommend filing this issue there: https://github.com/jwplayer/jwplayer

[2018-06-30 13:59] santosh279 opened #102 "onSeek"
Does the react -jwp-player support the onSeek() functionality?

[2018-07-02 08:34] ellell commented on #102
@santosh279 Yes, you should be able to hookup all events available in the jwplayer sdk, see https://github.com/micnews/react-jw-player#event-hooks So passing in prop `onSeek` for this should work.

Closing this out, feel free to reopen if you're having issues with it.

[2018-07-02 08:34] #102 closed

[2018-07-06 19:50] snly2386 opened #103 "Setting request headers for a video?"
Is there a way to set request headers (e.g. Authorization) for a video?

[2018-07-09 08:12] #103 closed

[2018-07-09 08:12] #101 closed

[2018-07-09 08:12] #99 closed

[2018-07-09 08:13] ellell commented on #97
Closing this out, feel free to reopen with more context if you still need help!

[2018-07-09 08:13] #97 closed

[2018-07-22 17:04] BoazKG93 opened #104 "Typescript support"
I'm trying to use this component in a typescript React project. This is not working, giving me the following error:
[code]

I tried to do it with `require` and also with `import * as` but both of them won't work. Is it possible to get @types support in the near future?

[2018-08-08 08:14] ellell commented on #104
@BoazKG93 we're not using typescript so that's why support for this haven't been added yet. Gladly accept PRs if you want to add type definitions though!

[2018-08-20 20:21] ryanwalters opened #106 "Feature Request: Add onDisplayClick prop"
It would be great to have access to the [`displayClick`](https://developer.jwplayer.com/jw-player/docs/javascript-api-reference/#jwplayerondisplayclick) event.

In my case, I have a player instance within an overlay with its own controls (media gallery). When interacting with the player, I need to hide the overlay's controls. `onPlay` and `onPause` get me part of the way, but on mobile devices, ta

[2018-08-27 14:57] JacobMJones opened #107 "Player works but I keep getting GET Errors"
Here is how I setup the player: https://pastebin.com/yWzAJAcz

Every second or so I get this error, or some variation thereof:

GET http://jwpltx.com/v1/jwplayer6/ping.gif?h=-1318621449&e=t&n=4698044703103532&aid=MpPDdOMrEeeyfgpVuA4vVw&at=1&c=-1&ccp=0&cp=1&d=1&eb=1&ed=9&emi=10l11r21t8nq&i=0&id=sBznUpBA&lid=gd6qv613bv3e&lsa=read&mt=1&pbd=1&pbr=1&pgi=28wzr117qeqr&ph=1&pid=YAoKxdyN&pii=0&pl=339&plc=1

[2018-08-27 15:03] ellell commented on #107
@JacobMJones couldn't access that hastebin, but it sounds like an error coming from the [jwplayer library](https://github.com/jwplayer/jwplayer/issues) as this react wrapper does not perform any requests itself.

[2018-08-27 15:05] JacobMJones commented on #107
Sorry I just noticed the link isnt working.
https://pastebin.com/yWzAJAcz

That should work. Thanks for the quick response. Ya I figured it was on their side but since I am using your library, they don't seem willing to help.

[2018-08-27 16:10] JacobMJones commented on #107
I appears to only be happening on my computer

[2018-08-27 16:10] #107 closed

[2018-08-31 08:06] ellell commented on #83
Fixed by https://github.com/micnews/react-jw-player/pull/108

[2018-08-31 08:06] #83 closed

[2018-09-07 19:28] johnBartos opened #109 "Would you allow us to link this in the JW repo readme?"
First, great job on this project. A lot of people (and recently more) want to use JW and React together. If they ask nicely we usually direct them to this repo but it's always been ad hoc. However, we'd think it'd be great to officially say that this is the best way to integrate the two. Would the maintainers of this project be OK with us linking this repo in our readme?

[2018-09-10 14:13] ellell commented on #109
@johnBartos Thanks! Definitely, we'd be happy to be linked to in the readme!

[2018-10-18 10:08] cavez86 opened #110 "Make ReactJwPlayer usable inside a web component"
At the moment is not possible to use this component inside a web component because jwplayer can't find the DOM element with the specified id inside the ShadowRoot.
A possible solution for this is to initialize jwplayer passing the DOM element instead of the id (it works).

[2018-10-18 13:08] cavez86 commented on #110
@ellell done -> https://github.com/micnews/react-jw-player/pull/111 ;)

[2018-10-24 13:33] tarjei opened #112 "Unmount on fullscreen should cleanup the dom"
Hi, if the Player component gets unmounted while in fullscreen then it leaves some styling on the body tag disabling scrolling.

The best way to solve this would be if the player had a handler in componentWillUnmount that either cleans up the dom or signals jwplayer to do it.

[2018-10-30 12:04] ellell commented on #110
Fixed by https://github.com/micnews/react-jw-player/pull/111

[2018-10-30 12:04] #110 closed

[2018-10-30 12:08] ellell commented on #112
@tarjei oh interesting. We are calling `.remove()` with the jwplayer sdk when component unmounts, see https://github.com/micnews/react-jw-player/blob/master/src/helpers/remove-jw-player-instance.js#L5 so I'm wondering if this is an issue in the jwplayer sdk not cleaning things up properly? If so that would be an issue for https://github.com/jwplayer/jwplayer

[2018-10-30 12:12] tarjei commented on #112
Interesting - that might be true. I'll see if I can get them to look into it.

[2018-11-04 16:59] danmakenoise commented on #109
@johnBartos just confirming with you we can close this issue since it looks like you guys are about to merge this on your end?

[2018-11-04 16:59] danmakenoise commented on #106
@ryanwalters sorry for the delay in responding! I don't see a `displayClick` event anywhere in the JW Player docs, can you link us to what you are seeing?

[2018-11-04 17:02] danmakenoise commented on #104
@BoazKG93 I believe you could make a pr to https://github.com/DefinitelyTyped/DefinitelyTyped that includes Typescript types for our library, if you are interested! Adding the help wanted tag on this one.

[2018-11-04 17:03] danmakenoise commented on #112
@tarjei are you okay with us closing this issue for now?

[2018-11-04 17:03] danmakenoise commented on #96
@nirarazi did you ever get this resolved? Can we close this issue or is it still happening for you?

[2018-11-04 17:04] danmakenoise commented on #32
@ellell I'm going to close this one, okay with you?

[2018-11-04 17:06] danmakenoise commented on #39
@ellell thinking we can close this one too, since its outside the scope of what we want this component to do

[2018-11-04 17:07] danmakenoise commented on #49
@ellell planning on closing this one too.

[2018-11-04 17:48] tarjei commented on #112
@danmakenoise can we keep it open a few weeks more? I've created an issue directly on the JWplayer repo (I had emailed our technical support contact, but that didn't generate any action).

[2018-11-04 18:04] danmakenoise commented on #112
@tarjei totally fine! Let me know what you here back. I'm 90% certain this is on the SDK end, but would be good to know for sure!

[2018-11-04 20:39] johnBartos commented on #109
Yeah of course!
On Sun, Nov 4, 2018 at 11:59 Dan Phillips <notifications@github.com> wrote:

[2018-11-05 02:07] #109 closed

[2018-11-05 07:35] nirarazi commented on #96
@danmakenoise I guess it is old enough to close it. Can't even remember how we've dealt with it.

[2018-11-05 07:41] #96 closed

[2018-11-05 10:49] ellell commented on #39
@danmakenoise yes, I agree with that.

[2018-11-05 10:49] #39 closed

[2018-11-05 10:49] ellell commented on #32
@danmakenoise yup, closing!

[2018-11-05 10:49] #32 closed

[2018-11-06 04:38] ryanwalters commented on #106
https://developer.jwplayer.com/jw-player/docs/javascript-api-reference/#jwplayerondisplayclick

[2018-11-06 06:36] danmakenoise commented on #106
@ryanwalters on first glance: `onDisplayClick` prop definitely works on our end. It may be a bug with JWPlayer itself if it's not firing on mobile properly. Can you pop in a code snippet of how you are using it here so I can double-confirm that this isn't an issue on our end for you?

[2018-11-06 06:37] danmakenoise commented on #95
@rahulsinghvuclip Sorry for the very late response, did you ever get this resolved?

[2018-11-06 06:38] danmakenoise commented on #70
Closing this, as we have no intention to support JW Player version 6 currently.

[2018-11-06 06:38] #70 closed

[2018-11-06 06:39] danmakenoise commented on #67
Closing since we don't have enough information to debug this.

[2018-11-06 06:39] #67 closed

[2018-11-06 06:41] danmakenoise commented on #54
@ellell, not certain this is worth developing right now, since we haven't really run into any issues with the current setup. Wdyt?

[2018-11-06 06:41] danmakenoise commented on #49
Closing as a solution is available above.

[2018-11-06 06:41] #49 closed

[2018-11-06 10:35] ellell commented on #54
@danmakenoise Yea, I'm good with putting this on ice!

[2018-11-06 13:40] danmakenoise commented on #54
Okay, closing for now until we see a pressing need for a rewrite.

[2018-11-06 13:40] #54 closed

[2018-11-22 15:30] JacobMJones opened #113 "Video player not resizing."
I read https://github.com/micnews/react-jw-player/issues/91 and tried to use a default player but I still can't seem to resize the video player after the initial page load. I am trying to keep it full screen the whole time. Ive also tried setting the height and width to 100vh and 100vw width respectively

https://hastebin.com/yarutafuvi.cpp

[2018-11-22 16:52] danmakenoise commented on #113
@JacobMJones do you have a live demo of this code running on the site? I didn't see it anywhere. If you can get your use case up and running I can take a look at it.

[2018-11-22 18:01] JacobMJones commented on #113
@danmakenoise thanks, sorry I uploaded the production version. Here is one with the code https://5bf6ee9fc6aed67bfea8be0e--phyxable.netlify.com

Have you outlined anywhere how to maintain a fullscreen on resize? Is that a prop or anything like that?

thanks for your time I appreciate it

[2018-11-23 15:12] fedojo opened #114 "Flash player displayed instead HTML5 video player"
Hi!

Is there a way to block displaying flash player? When Flash player is installed video from JW player is displaying Flash object and doesn't load proper media. Is there any option to disable this behaviour?

Thanks in advance for response

[2018-11-23 15:45] danmakenoise commented on #114
@fedojo This is usually an issue with JW Player itself. What version are you using, and what browser?

[2018-11-23 15:57] fedojo commented on #114
Firefox: 63.0.3
react-jw-player: 1.16.0
jw-player: 7.12.13

[2018-11-27 13:10] danmakenoise commented on #113
@JacobMJones sorry just getting around to looking into this! It looks like the demo is working as intended for you, did you fix it yourself?

[2018-11-27 13:13] danmakenoise commented on #114
@fedojo since you are using JW7, check [here](https://developer.jwplayer.com/jw-player/docs/developer-guide/jw7/configuration-reference/). You should be able to use the `primary` setup option, set to `html5` to override this. You can pass this in via `customProps`.

[code]

[2018-11-27 14:04] JacobMJones commented on #113
@danmakenoise If you load the page with a smaller window and then resize it larger you will see that the video player is not resizing.

[2018-11-27 14:31] fedojo commented on #114
Thanks @danmakenoise !

We changed config on our side and moved to version 8 of JWPlayer. It resolved an issue on our side.
I hope your code will save someone's life ! :)

[2018-11-27 14:31] #114 closed

[2018-11-28 09:32] aymanokas commented on #113
Hi @JacobMJones for ur issue just use vh and vw instead of px like (width: 100vw ,height: 100vh) and that's it.

[2018-11-28 13:01] JacobMJones commented on #113
Sadly I have tried that, nothing I do seems to get it to rerender.

[2018-11-29 08:55] anchvy opened #115 "How can I use "related" options in "react-jw-player" ?"
(https://developer.jwplayer.com/jw-player/docs/developer-guide/customization/configuration-reference/#related)

I used to use "related" option in javascript API and It works normally.
But when I try to use in "react-jw-player" as component props and implement in 'customProps' props but nothing happens.

How can I use this option in React ?

[2018-11-29 09:44] anchvy commented on #115
Ahh~ my bad. I can use relate options with this package already.

[2018-11-29 09:44] #115 closed

[2018-11-29 17:42] JacobMJones commented on #113
I tried video-react and had the same issue. I tried https://github.com/tkloht/react-video-cover and it totally resizes properly but the autoplay doesn't seem to work on reload of the page

[2018-11-30 10:19] aymanokas commented on #113
For me it works fine when I wrap the videoPlayer before using it.

[2018-12-01 18:18] danmakenoise commented on #113
@JacobMJones do you have the player set up per this guide: https://support.jwplayer.com/articles/how-to-setup-a-responsive-player

[2018-12-05 13:45] JacobMJones commented on #113
@danmakenoise thanks for all your help, ive decided to just use the video tag for now and it seems to work. I never figured out why it and video-react wouldn't rerender on resize,

[2019-01-28 14:25] chuxolatouz opened #119 "Playlist on props doesnt update"
When te component is rendered and i change the playlist. It's doesn't update the playlist on the player.

[code]

On my PlayerComponent i change the props.playlist dinamically but it doesn't change in the player and in my showChapters component it change.  If i re-render the component it breaks the dom with an mutation props inside it.

How i can avoid this issue?

[2019-01-29 15:18] danmakenoise commented on #119
@chuxolatouz I will take a look into this later today!

[2019-01-29 21:31] danmakenoise commented on #119
@chuxolatouz Can you post the code showing how you update the playlist? Not sure if the playlist change is failing the `isEqual` test, or if something is buggy in the reinitialization code, and I want to try and reproduce.

[2019-02-15 17:37] rocco-solsys opened #121 "Playlist List Question (Not an issue really)"
I'm trying to get a playlist "list" to actually show up under my Video is there a way to do that with this component?

Can't seem to attache a screenshot of what I am talking about.You can see an example here:
https://wmfd.com/watch-WMFD-TV-Shows/i-love-my-job/index.asp

[2019-02-19 21:35] chuxolatouz commented on #119
Sorry for the delay @danmakenoise , i didn't be notified  your question.
Actually i have a function called `setPlaylist(playlist)` that make a dispatch to redux and change my playlist on the store.But that doesn't make effect so i'm doing
[code]
I change it with a checkbox and and simple `onClick={ () => setVideoPlaylist() }`

[2019-02-21 07:30] jason0853 opened #124 "ismuted property is not working."
We are using react jw player with jwplayer.
but we got an issue.
I gave a property with like this.

<ReactJWPlayer
          playlist={this.props.playlist}
          licenseKey="licensekey"
          onAdPlay={this.onAdPlay}
          onReady={this.onReady}
          onVideoLoad={this.onVideoLoad}
          playerId={this.playerId} // bring in the randomly generated playerId
          playerScript

[2019-02-22 03:52] danmakenoise commented on #124
Most browsers are slowly not allowing you to autoplay unmuted videos. Could likely be related to that, can you tell me which browser you are testing in?

[2019-02-22 03:53] danmakenoise commented on #121
@rocco-solsys you would need to build that out separately from ReactJWPlayer. This component would only be the video player itself! Closing this, if that's okay.

You would be able to change props on this component to accomplish that behavior, though!

[2019-02-22 03:53] #121 closed

[2019-02-22 06:16] jason0853 commented on #124
thx for the replay.

I am testing on chrome. any solution?

[2019-02-22 19:47] danmakenoise commented on #124
@jason0853 chrome will not let you autoplay an unmuted video. see here: https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

[2019-03-08 22:11] danielzenkovitch opened #125 "addButton either isn't working or doesn't exist"
I was wondering if the add button functionality is working/ if it even exists in the first place. I tried adding i`addButton: {
img: '//icons.jwplayer.com/icons/white/download.svg',
              tooltip: 'test',
              callBack: this.handleButtonClick,
              id: 'dwnload-butt',
            }`
into my customProps, but nothing happened. I was hoping it would be one of the API calls I

[2019-03-11 05:49] kylane commented on #85
Anyone else finding onError isn't firing when jwplayer has an error event?

[2019-03-11 17:27] danielzenkovitch commented on #125
Realized I could just do this through the onReady function. If anyone is wondering how to add a button create an onReady function and set the player to window.jwplayer(this.yourPlayerId). From there you have access to the entire jwPlayer api, including addButton.

[2019-03-11 17:27] #125 closed

[2019-03-18 09:44] tojobbws opened #126 "How to set controls to false"
I don't want to click on the video and the video stops working. How to set up

[2019-03-18 14:46] ellell commented on #126
@tojobbws you should be able to use `customProps`, so something like:
[code]

[2019-03-18 20:18] gvillo commented on #102
Hi!, I am not able to use onSeek, I've forked and pushed a fix for this, it's missing onSeek prop on libraary

[2019-03-19 03:53] tojobbws commented on #126
thank you ellell `customProps` Can solve my problem

[2019-03-19 09:49] tojobbws opened #128 "How to get playlist item."
When Start video i want to get id from playlist  What should I do?

//this is a sample code
[code]

[2019-03-19 13:02] ellell commented on #128
@tojobbws does `onPlaylistItem={...}` work for you?

[2019-03-20 03:14] tojobbws commented on #128
Thank you @ellell `onPlaylistItem={...}` can be used.

How do you know that you have to do this?

[2019-03-20 08:13] ellell commented on #128
@tojobbws any event that you can listen to in the jwplayer sdk you can also listen to through this react wrapper, so checking the [jwplayer docs](https://developer.jwplayer.com/jw-player/docs/javascript-api-reference) can be helpful for figuring out things like this. See https://github.com/micnews/react-jw-player/pull/93 for details about this.

[2019-03-21 18:48] esetnik opened #129 "AbortError"
When changing the player url I receive an unhandled promise rejection `AbortError: The operation was aborted.`. Can we swallow these errors?

[2019-03-24 13:05] jason0853 opened #130 "Sometimes this.player.seek() is not working."
I want to play same part repeatedly, so need to use seek().
It worked well a few days ago, but it doesn't work now. I don't know why.
The playing status is true, but player is not working.
Also, if I add handleRepeat() twice, it works well. why?

handleRepeat = () => {
      const { mediaScript } = this.props;
      const { playerIndex: idx, currentTime } = this.state;

      this.setState(

[2019-03-26 15:13] ryanwalters opened #131 "onBeforePlay prop not working"
Using the `onBeforePlay` prop does not seem to be working. I thought it would be supported with the dynamic support of JW Player events.

Example:
https://codesandbox.io/s/p71pjw4yv0

[2019-03-26 15:38] ryanwalters commented on #106
I can confirm that this is just an issue in my implementation, sorry for the false alarm!

[2019-03-26 15:38] #106 closed

[2019-04-02 03:45] RutulDarji opened #133 "How can i forward my video"
so what i have done is make custom function that forward it by starting time but it is not working how can i solve this issue

[2019-04-03 07:19] ellell commented on #133
@RutulDarji do you have any example code to share to better explain your issue?

[2019-04-18 10:31] ravipateldhg opened #134 "Dynamic update any property of jwplayer like mute/unmute"
Hello,

I have one custom button for video mute/unmute. I need to dynamically bind a mute property on button click. By default my video is mute.

[2019-04-25 10:58] ravipateldhg commented on #134
Have you got a chance to check that

[2019-05-07 04:37] ryanwalters opened #136 "Still maintained?"
Is this repo still actively maintained?

[2019-06-12 18:35] esetnik opened #137 "Check for valid player instance before calling initialize"
https://github.com/micnews/react-jw-player/blob/master/src/react-jw-player.jsx#L87

I receive many errors like:

[code]

Traced it to ../node_modules/react-jw-player/dist/helpers/initialize.js in default at line 26:1
The player instance is not guaranteed to be still available on the page at the time that initialize is called. We need to check to see if it is null since it may have been destroyed.

[2019-06-13 18:13] vishwajeetv commented on #79
@danmakenoise @randichilyon  it is rather very simple.
You can pass appropriate DRM configuration in `drm` props
like this

[code]
Where
`drm = {clearKey: {key: '<key>', keyId: '<keyId>'}}`
in the case of clearKey DRM

[2019-06-14 06:59] guangming21 opened #139 "I can't visit https://link-to-my-jw-player/script.js"
I can't visit  https://link-to-my-jw-player/script.js, about this, where can i download this js file

[2019-06-14 07:26] #139 closed

[2019-06-28 21:24] talkshoplivedev opened #140 "Multiple Render Issues/Error"
In our Sentry log we receive all sorts of `r.setup` is not a function or is undefined, but our users do not complain about the player not rendering...and the player is central to our platform. I honestly do not have the time, energy, or permissions to post our full config. Would someone from mic be willing to contract with us for several days to get to the bottom of our rendering issues? Many than

[2019-06-30 19:44] diogo-codengage commented on #137
when will it be published?

[2019-07-01 16:54] web223dev opened #141 "Can you add 'shalf' displayMode?"
The function to change the display mode does not exist in your package.
Can you add this?

Code:
<script type="text/javascript">       <br/>
    var player = jwplayer("player");        <br/>
    player.setup({   <br/>
        "file": "//content.jwplatform.com/videos/pNLwBC31-HpVzMx7u.mp4",  <br/>
        ...  <br/>
            "related": {  <br/>
            "file": "//cdn.jwplayer.com/v2/playlist

[2019-07-09 14:16] #140 closed

[2019-07-14 19:25] oVladushka opened #142 "jw component throws the error 100011"
while using the component I got the error 100011. Checked the fields 'playerId','playerScript','file' one hundred times, they were correct

[2019-07-14 19:32] #142 closed

[2019-07-14 19:33] oVladushka commented on #142
My fault, just found the license key, sorry guys and thank you for having made this jw component, peace!

[2019-07-18 12:44] oVladushka opened #143 "rate speed"
how can I add playback rate, guys?

[2019-07-24 10:56] mogadanez opened #144 "Is it possible to automatically load tracks?"
I have several caption tracks attached to video in JWPlatform
how should I construct  playlist/options to  auto load  all available tracks?

[2019-07-29 02:45] kylane opened #145 "onXhrOpen setup to remove the 'range' header before sending the request?"
Ahoy!

Thanks for this component - has been awesome.

Having trouble trying to modify the request headers, as we're having some cloudfront issues with the 'range' header - how would I go about removing the range from the request headers?

Cheers!

[2019-07-29 02:51] kylane commented on #145
Would this do the trick?

[code]

[2019-07-29 18:31] ronenmagid opened #146 "Is it possible to have an "AdClicked" event?"

[2019-07-29 18:46] ronenmagid commented on #146
would be nice to be able to get an event when a user clicks a running ad...

[2019-07-31 14:47] ronenmagid opened #147 "Getting this warning every time I use the control"
`The provider.cast.js file failed to load. Chromecast cannot be enabled.`

any idea how this should be addressed?

[2019-07-31 18:16] zameerSheikh commented on #76
@danmakenoise aspectRatio, width, height are not working.

[2019-07-31 18:21] zameerSheikh opened #148 "aspecRatio, width, height props dont seem to be working"

[2019-08-01 09:57] tojobbws opened #149 "react-jw-player can use url rtmp stream ? i have Error Code: 102630"

[2019-08-01 10:10] tojobbws commented on #149
<ReactJWPlayer
 file="rtmp://111.xx.xx.xx/xx/thaitv3_HD.stream"
/>

[2019-08-01 10:12] tojobbws commented on #149
this is my code
`<ReactJWPlayer
 file="rtmp://111.xxx.xx.xxx/teroedge/thaitv3_HD.stream"
 />`

[2019-08-23 15:36] ronenmagid commented on #148
any luck? I've been having the same problem. Video playback component has a 0x0 dimension.

[2019-08-26 19:22] #141 closed

[2019-09-10 01:42] tuanna2 opened #150 "How to Add 2 VAST Ads in JW Player?"
I am using JW Player 8 and I want 2 midroll vast ads in the player. How do i setup generatePrerollUrl for 2 vast ads ?
Please help me

[2019-09-12 19:07] billzeman opened #151 "aspectRatio works fine with non-standard ratio, but throws warning"
I'm able to use aspectRatios other than the supported ones and the player resizes correctly but I get this warning
Invalid prop `aspectRatio` of value `720:900` supplied to `ReactJWPlayer`, expected one of ["inherit","1:1","16:9"]

I use non-standard ratios for vertical (phone) videos and I've been simply setting aspectRatio to aspectRatio = video_width + ":" + video_height; with no issues.

Could

[2019-09-30 01:50] JacobSturges opened #152 "Player Config isn't coming from the playerScript"
In the JW player console, we have configured a recommend playlist for the player. However, videos that use the corresponding playerScript & running thought the react-jw-player do not have any recommendations.

This issue also seems to apply to other properties besides recommendations.

If you could get back to me as to whether this is a question of incorrect use or an actual bug that would be awes

[2019-10-10 11:23] gergana95 opened #153 "Player doesn't support TS video file extension ?"
When I try to load a video url with .ts extension the player returns 102630 error. I tried adding it into playlist or directly with file prop.

When I add the video url in my dashboard and embed it in my website the video player is displayed and video can be played, so this means the video file is supported.

Is there a different way I can load the url? I think maybe I am not loading it correctly

[2019-11-06 10:47] Way-U-Need opened #154 "one video at a time should be played when multiple jw player videos are there"
When rendering multiple jw player through a loop,multiple videos can be played at the same time..how to restrict it to play one player at a time?

[2019-11-13 10:07] #150 closed

[2019-11-28 13:34] zikwall opened #155 "Correct advertising setup"
Do I understand correctly that advertising needs to be configured as follows?

[code]

but it does not work for me :(

Free developer account.

[2019-11-30 10:00] zikwall commented on #155
I bring profulesy apologies. Everything works fine, you just had to define a property `generatePrerollUrl`.
Who will also be stupid, just set a function in this property that returns the string (url) of the advertisement. :)

[2019-11-30 10:00] #155 closed

[2019-12-16 11:12] RaviAtTTN opened #156 "How to implement play() method"
Hi,
I want to add custom props "shouldPlay". If shouldPlay === true, then I want to play that Jw player otherwise not. Thus I need to call .play() method of jw player while checking the currebt value of shouldPlay. How would I achieve it?

[2019-12-16 11:57] RaviAtTTN commented on #156
Currently my _initialize() method is:
[code]

And I am getting this:->
![Screenshot from 2019-12-16 17-18-06](https://user-images.githubusercontent.com/56861974/70905106-179af280-2029-11ea-8161-99297c72b803.png)

[2019-12-24 12:33] ubialimv commented on #137
Any news about this issue?

[2020-01-11 20:51] mik93mara commented on #143
handleAutoStart = event => {
        const player = window && window.jwplayer && window.jwplayer(playerId);
        player.setPlaybackRate(this.props.speed || 1);
};

[2020-01-11 20:53] mik93mara opened #157 "How can I add "playbackRateChanged"?"

[2020-01-22 09:41] GihanMaheshWijesuriya opened #158 "Not a valid RSS/JSON feed"
i  used testing playlist to this pluging from get by jw player official site.but on the video player it given error "Not a valid RSS/JSON feed" like this

[2020-01-22 10:23] satp8 opened #159 "video pause automatically after 1 to 2 sec"

[2020-01-23 12:55] dbabaioff opened #160 "Playlist prop required"
If we set up a player with a playlist on the JWPlayer dashboard it gets overwritten because a playlist is a required field and if I do not set this property it's set to an empty value.

If this is correct - it means we always need to set value for the playlist in order to have a playlist and not use the JWPlayer dashboard.
Is this correct?

[2020-02-01 16:34] #137 closed

[2020-02-15 14:23] iedmrc commented on #149
Same here. Did you solve it?

[2020-03-13 18:06] harrypotter48 opened #162 "Mobile error"
hello, I have had problems viewing the example website I made using this lib from a mobile, it gives me an error `window.jwplayer is not a function`, I wanted to know if the free script cannot be seen from the mobile, It is a known error or I have a problem in the configuration.

[2020-03-29 00:39] MilesRomney commented on #152
That's what I'm seeing, too. There doesn't appear, currently, to be any way to successfully configure the player interface with react-jw-player.

[2020-04-08 20:10] topcreator opened #163 "How to use Video Marker Plugin"
Hi Dan. @danmakenoise
I think this package is perfect to use JW Player on React.
I gonna use videomarker plugin to manage chapters on JW8 player.
Could you let me know how to use the plugins on JW8 player?

Thanks.

[2020-05-10 08:48] narawit0 opened #164 "When source file is m3u8 file format the audio is not working."
When source file is m3u8 file format the audio is not working.

[2020-05-20 21:02] et-nat1995 opened #165 "Player won't rerender when remounting on a new page"
I have two pages page A and page B

Page A uses a player with a config in jw player that auto plays when loaded on the screen.

Page B uses a player with a config in jw player that lets the user press play on the video.

When a user clicks on a link from page A to page B the package maintains the same config as page A in page B and vice versa.

Both players have different playerIds and I added a c

[2020-05-29 18:09] marcgarygray opened #166 "onOneHundredPercent prop does not update"
Bug:
When a new `onOneHundredPercent` callback is passed to the component, it does not override the old prop.

Expected Behavior:
The callback should update whenever the prop updates.

Proof of Concept:
https://codesandbox.io/s/dreamy-sky-3z20p?file=/src/App.js

[2020-06-09 20:00] philmirez commented on #165
I was facing this same problem. It wasn't rerendering the video after changing the video id.

I stumbled across this closed [issue](https://github.com/micnews/react-jw-player/issues/38), however it isn't in terms of hooks.

So, I updated it. 😁

[code]

[2020-06-17 06:50] et-nat1995 commented on #165
@philmirez oh man i was pretty close. I'll give this solution a shot. Thank you

[2020-07-15 01:06] ronenmagid opened #167 "Doesn't work with multiple videos on the same page, even with "useMultiplePlayerScripts={true}""
when` useMultiplePlayerScrip`t isn't used only one video is visible and working (the last one used), the other video is simply never created.

[code]

when useMultiplePlayerScripts={true} is used react-jw-player crashes and plays nothing:

[code]

crash:

[code]

This makes React-Jw-Player unusable for our purposes, having multiple video players in a single page. we'll look for other solutions out

[2020-07-15 01:18] ronenmagid commented on #167
my mistake. sorry. please disregard. my unique Ids were not set up correctly.

[2020-07-15 01:18] #167 closed, assigned to nobody

[2020-07-31 07:03] BhaveshSGupta opened #169 "Add a custom button and disable fullscreen"
Hello,
I am trying to do changes in the working of ReactJWPlayer,
I want to disable fullscreen button, I think the best way to do it would be by skins,
and want to add a button which would make player semi fullscreen.

There could another option,
where I could replace the functionality of fullscreen btn to have my custom code.
I am not able to do that.

Do you know a workaround here?

[2020-08-13 18:08] wsaun-edh commented on #136
welp guess that answers that

[2020-08-26 17:32] vaultec81 commented on #169
Take a look at https://developer.jwplayer.com/jwplayer/docs/jw8-javascript-api-reference#section-jwplayer-add-button-img-tooltip-callback-id-btn-class for custom buttons, which you will have to use the jwplayer instance directly to implement this functionality

[2020-09-08 18:02] landonwjohnson opened #170 "[APPLE TV AIRPLAY SUPPORT] I am noticing in the docs there is not an option to pass a property of "cast" to the player."
I am noticing in the docs there is not an option to pass a property of **"cast"** to the player.

On the website, I am using this package on, when I do airplay and attempt to stream the video to the apple tv.
**it only streams the audio of the video**.

When reading JWP documentation it says I need to pass a **"cast" configuration** to the player, but I am not able to do so
with **react-jw-player*

[2020-09-14 13:58] dees040 commented on #134
Having the same problem. I've my own mute/unmute button, but the prop doesn't get updated.

[2020-09-17 04:58] ravipateldhg commented on #134
@dees040 I have changed the player to **react-player**
Please check the below link.
https://www.npmjs.com/package/react-player

[2020-09-23 18:12] JoeVelliquette commented on #170
I'm facing the same issue. Haven't found a workaround yet.

[2020-09-28 19:16] #56 closed

[2020-10-07 06:10] shivasms65 commented on #131
Are we having any other option to achieve this in react?

[2020-10-12 09:09] klacointe commented on #170
You can use customProps https://github.com/micnews/react-jw-player/blob/master/src/helpers/get-player-opts.js#L4

[2020-10-28 12:36] MehdiAghighi opened #172 "Playback speed for player"
Is There a way that the user can change the playback speed of the player ?
i saw in the docs that in pure javascript it is something like this

[code]

but i couldn't find how to do it in jwplayer-react

[2020-11-10 11:08] mushroomgead commented on #172
You should be able to use customProps to set playbackRateControls. Like this:
`<ReactJWPlayer
    customProps={{
        playbackRateControls: [0.75, 1, 1.25, 1.5]
    }}
/>`

[2020-11-13 19:06] MehdiAghighi opened #173 "Quality change button not showing in iphone"
when i am playing the hls video in iphone or ipad when i tap settings there is no where to change quality of video , but in windows or android there is that button !
in iphone there is only the caption and playback speed rate controls but no quality change

[2020-11-22 10:23] zunairzubair3 commented on #79
@danmakenoise Any update on this?

[2020-12-02 20:30] robwalch commented on #173
HLS is played natively in iOS. the HTMLMediaElement does not provide any way to change quality of an HLS stream in Safari. Safari handles all adaptive bitrate quality switching automatically.

[2021-03-01 11:21] deepaknarulaaesl opened #175 "Enhancement Requirement"
Hi,

**You guys have been doing a fabulous job maintaining this library!**
I am Deepak Narula. I work with Aakash Educational Services Limited. We were planning to integrate JW Player in our react native app. I am looking for certain enhancements in the JW player. All our audios and videos have been divided into various segments.
For example: An audio file of length 3 minutes could have the follow

[2021-03-25 22:58] igoramos77 commented on #104
Hello, BoazKG93! Did you manage to solve it?

I really need to add @types to my project

[2021-04-01 05:47] hidnarola commented on #173
I am facing same issue. Is there any way to get this working in safari. Except safari its working fine in other browsers.

[2021-04-01 13:54] robwalch commented on #173
Add `safarihlsjs: true` to your config to have hls.js handle HLS playback in Safari Desktop and iPad. That allows for quality switching but is less efficient and stable than allowing Safari to handle HLS playback natively. This setting does nothing on iPhone because MSE is not available on iPhone and thus not supported by hls.js.

[2021-04-10 09:26] AmauryLiet opened #176 "onOneHundredPercent never called during Google Cast"
Hello there,

First of all, thank you for the lib and your work on it!

I came across an issue while using the player during a Google Cast session:

**`onOneHundredPercent` is never called**

It seems that the issue is `beforeComplete` never being called by the player script

Not sure the fix should be in this library, but happy to start a discussion and to create an issue elsewhere if you could r

[2021-06-04 08:44] tpettrov opened #181 "Safari bug with playlist prop"
When using playlist prop in Safari player can't play videos. No issues on other browsers. Using the file prop it works.

[2021-07-06 15:23] AmauryLiet opened #183 "onPause not called when `file` changed and video auto-paused"
Hello,

I recently noticed that changing the `file` (string) prop of the player causes the video to auto-stop (which seems fine).

However, onPause is never fired in that case

[2021-07-23 06:16] soumojit-technoexponent opened #185 "Continue Playing Video"
I want continue play a video where I previously stopped. I got the seekRange value using onTIme event. How to update the Starting point.
Please help me asap I'm trying to fix it for last 2 days.

[2021-08-05 17:39] saumya commented on #128
Just wondering, is it still working?! Seems `onPlaylistItem` is not working while other event handlers are working fine!
But if I use the JWPlayer event handler directly it is handling that event!
Am I missing any other configuration?

[2021-09-06 03:15] isoumyajeet opened #187 "Resume the video where it stop or paused"
Hi there,

thanks for the well documentation of the react-jw-player wrapper. I request you to please suggest me how to resume the video where it stop or paused. Can you please suggest any solution. That will be very helpful.

[2021-09-13 16:00] jvjijith commented on #185
@soumojit-technoexponent Hi did you get any solution . I'm also stuck with the same issue

[2021-09-14 09:19] IlanHZ opened #188 "Compatibility with newer versions of React"
The library is not compatible with React 17:

`npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^15.4.1 || ^16.0.0" from react-jw-player@1.19.1
npm ERR! node_modules/react-jw-player
npm ERR!   react-jw-player@"*" from the root project
npm ERR!
npm ERR! Fix the upstream depe

[2021-09-17 10:36] soumojit-technoexponent commented on #185
No, I didn't get any solution.
For now you can try video-react package, there is a inbuilt event called startTime.

[2021-09-22 07:57] anandsingh2903 opened #189 "Can i use this for commercial purpose ??"
I am confused a bit as the code of JW player is open source but according to their license, it is non-commercial use license only and this library also uses JW player, So I just wanted to confirm whether I can use this code for commercial purpose or not like develop an application using this library and then sell it to someone. Would that be legal ??

[2021-09-29 12:20] jeroenvandiepen commented on #189
The code is under an MIT license. This means that it can also be used for commercial purposes

https://snyk.io/learn/what-is-mit-license/

[2021-11-19 22:40] spencervbishop-dr opened #191 "Utilize JW Player's withCredentials playlist parameter"
I would like to try using signed cookies with a JW Player (separately from content protection on their CDN).

I've seen that with other JW Player SDKs there is an included _withCredentials_ flag inside the playlist object that, when marked true, will include all cookies with the request for the video playlist. Unfortunately, this doesn't appear to be an option for this library. Have you considered

[2021-12-03 06:30] #185 closed, assigned to nobody

[2022-01-22 23:00] WulfByteSD commented on #188
Hi, Just wanted to let you know how i got around this.

I simply cloned the repo into my project not the best way to do this but... it works? so, i dont see any new updates coming down from the creators, hopefully theyll update this repository soon.

[2022-02-08 19:39] ryandagg opened #192 "onSetupError doesn't fire for playerScript 401"
react-jw-player@npm:1.19.1

To reproduce:
[code]
`onSetupError` will not fire. I would expect it to or for this library to provide some other prop handler for this situation.

[2022-03-11 14:12] mahmood-kn opened #194 "Update to support React 17"
Hi, Please update react-jw-player to support newer versions of React (React 17)

[2022-03-11 18:58] kshoell opened #195 "In Safari, when source file is m3u8 I get an Error: no playable sources found"
I do not see this issue in Chrome or other browsers with the same .m3u8 files.

If I set the file to be an .mp4, it loads successfully.

[2022-03-11 19:39] kshoell commented on #195
I found a work around for this.  When creating sources I have to add a second source that does not include the type attribute.  This appears to work on Safari now.
[code]

[2022-03-15 19:57] ishields commented on #152
@JacobSturges did you ever figure this out? Running into the same issue

[2022-05-22 23:16] alwayswelcom opened #196 "New: urgent"
Hello, Mic team

I am Tommy and very interested in Web engineer(React + Typescript) position at your company.

I worked as a senior front end engineer at 2 companies such as Secret Benefit and CornerStone's Professional team.
At that time, I have grown Typescript(React, Vue, etc) knowledge and deep knowledge of modern technologies such as blockchain.
And I also focused on scalable and re-usable st

[2022-07-15 18:38] FranCarstens commented on #194
I've created a pull request to include React 17 in the peer dependencies. I ran into no issues using this on a React 17 project. There may be issues I'm not aware of, though. https://github.com/micnews/react-jw-player/pull/198

[2022-07-16 21:44] #164 closed, assigned to nobody

[2022-07-26 13:39] FranCarstens commented on #194
@mahmood-kn, it doesn't look like this is maintained anymore. Maybe try JW Player's official library? https://github.com/jwplayer/jwplayer-react

[2022-09-24 14:01] ammad-idrees opened #200 "Unable to find a good script file required in react-jw-player and secondly unable to set my license key in jw player."
Unable to find a good script file required in react-jw-player. Please guide me from where I got a jw-player script file. Secondly
I found one by searching a lot but I am unable to set a license key for that the player giving me 100012 error that is invalid-license key.
Player Script that i am using ( https://content.jwplatform.com/libraries/j9BLvpMc.js )

Attached code for reference:

![jw-Player

[2022-09-26 15:47] #200 closed, assigned to nobody